/******************carousel**********************/
#carousel{position:relative;}
	#carousel .es-carousel{width:100%; overflow:hidden;}
		#carousel h3{padding-right:70px;}
		#carousel li{float:left; position:relative;}
#carousel .nav-bg{
	position:absolute;
	top:9px;
	right:0;
	background:#fff;
	border:1px solid #c9c9c9;
	width:62px;
	height:30px;
	z-index:990;
	border-radius:15px;
}
#carousel .es-nav-prev, #carousel .es-nav-next{
	display:block !important;
	width:28px;
	height:28px;
	overflow:hidden;
	background-position:center top;
	background-repeat:no-repeat;
	position:absolute;
	top:11px;
	text-indent: -100%;
	font-size:0;
	line-height:0;
	white-space: nowrap;
	cursor:pointer;
	z-index:996;
}
#carousel .es-nav-prev{background-image:url(../images/carousel-prev.png); right:34px;}
#carousel .es-nav-next{background-image:url(../images/carousel-next.png); right:3px;}
	#carousel .es-nav-prev:hover, #carousel .es-nav-next:hover{background-position:0 -46px;}

/*-------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 995px) {
	#carousel{padding-right:1px;}
	#carousel li{width:356px !important;}
}

@media only screen and (max-width: 479px) {
	#carousel img {width:120px;}
}