nav{float:right; position: relative;}
#menu-icon{
	display:none;
	font:15px/19px 'Open Sans', sans-serif;
	color:#fff;
	text-transform:uppercase;
	padding:17px 14px;
	background:#2b2b2c;
	border-radius:16px;
	cursor:pointer;
}
	#menu-icon span{
		display:inline-block;
		width:11px;
		height:6px;
		overflow:hidden;
		font-size:0;
		line-height:0;
		/*background:url(../images/menu-arrow.gif) center -44px;*/
		vertical-align:middle;
	}
.menu {list-style:none;}
.menu > li {
	background:url(../images/menu-tail.gif) center -999em no-repeat;
	position:relative;
	float:left;
	font:15px/19px 'Open Sans', sans-serif;
	text-transform:uppercase;
	border:1px solid transparent;
	border-top:none;
	border-radius: 0 0 16px 16px;
    float: right;
}
	.menu > li.sfHover,.menu > li:hover {
		background-position:0 0;
		background-repeat:repeat-x;
		background-color:#f3f3f3;
		border-color:#d0d0d0;
	}
	.menu > li.current{
		background-position:center -999em;
		background-color:#2b2b2c;
		border-color:#2b2b2c;
	}
	.menu > li > a {
		display:block;
		color:#696969;
		padding:25px 15px 28px;
		text-decoration:none;
	}
		.menu > li.sfHover > a,.menu > li > a:hover {text-decoration:none;}
		.menu > li.current > a{color:#fff;}
	.menu .menu-arrow{display:none;}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	min-width:135px; 
	display:none;
	padding:15px;
	background:url(../images/submenu-tail.gif) center top repeat-x #fefefe;
	border:1px solid #d0d0d0;
	border-radius:16px;
	z-index:999;
}
.menu li li{
	width:100%;
	padding:0;
	margin-bottom:6px;
	position:relative;
}
	.menu li li a{
		color:#696969;
		text-decoration:none;
	}
		.menu li li > a:hover,.menu li li.sfHover > a{
			color:#9e3670;
			text-decoration:none;
		}
.menu li:hover ul, .menu li.sfHover ul {left:0px; top:81px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	.menu > li {font-size:12px;}
		.menu > li > a {padding:25px 8px 28px;}
	.menu > li > a .menu-arrow{display:block; width:100%; height:6px; overflow:hidden; text-indent:-999em; font-size:0; line-height:0; background:url(../images/menu-arrow.gif) center top no-repeat; position:absolute; top:47px; left:0;}
		.menu > li.current > a .menu-arrow{background-position: center -44px;}
}

@media only screen and (max-width: 767px) {
	nav{padding-top:18px;}
	#menu-icon{display:block;}
	/*menu*/
	.menu{display:none; position:absolute; top:80px; right:0; min-width:138px; padding:15px; background:url(../images/submenu-tail.gif) center top repeat-x #fefefe; border:1px solid #d0d0d0; border-radius:16px; z-index:999;}
	.menu > li {float:none; width:100%; font-size:15px; padding:0; margin-bottom:6px; background:none; border:none; border-radius:0;}
		.menu > li.sfHover, .menu > li:hover, .menu > li.current {background-color:transparent;}
	.menu > li > a {display:inline; padding:0;}
		.menu > li.sfHover > a, .menu > li > a:hover, .menu > li.current > a {color:#9e3670;}
			.menu > li > a .menu-arrow{display:inline; width:auto; height:auto; text-indent:0; font-size:inherit; line-height:inherit; background:none; position:static;}
	/***submenu***/
	.menu ul {right:156px; left:auto !important; top:-15px !important;}
}

@media only screen and (max-width: 479px){
	.menu{min-width:115px;}
	.menu > li{font-size:12px;}
	.menu ul{min-width:115px; right:133px;}
}

@media only screen and (min-width: 768px) {.menu {display:block !important;}}